*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.banner_biru{
    height: 15px;
    width: 100%;
    background-color: #53CBFF;
}

.navigation{
    padding-left: 5%;
    
}
nav{
    display: flex;
    justify-content: space-between;
    
}
nav img{
    padding-top: 0.5%;
    width: 35px;
    height : 78px;
    padding-left: 0.3%;
    
}
nav a{
    text-decoration: none;
    color: #53CBFF;
}
.farbucks{
    font-size: 30px;
    padding-left: 0.7%;
    
}
nav ul{
    font-size: 15px;
    display: flex;
    flex-direction:row;
    list-style: none;
    padding-left: 0.8%;
    padding-top: 0.3%;
}
.isi_navbawah{
    width:80px;
    padding-bottom: 20px;
}
.register_space{
    background-color:#53CBFF;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 25px;
}
.register_word{
    color: white;
    font-size: 15px;
}
.register{
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.space_regis{
    display: flex;
    flex-direction: column;
    background-color: #E9E9E995;
    box-sizing: border-box;
    width: 808px;
    height: 770px;
    
}
.isi_regis{
    display: flex;
    flex-direction: column;
    margin: 5%;
    
}
.regis_atas{
    padding-left: 47px;
    padding-top: 31px;
    align-items: center;
}
.regis_word{
    font-size: 24px;
    line-height: 36px;
}
.form_bawah{
    padding-left: 47px;
    padding-top: 64px;
    font-size: 19px;
}
.name,.email,.password,.address{
    padding-bottom: 15px;
}
.space{
    justify-content: center;
    height: 15px;
    align-items: center;
    align-content: center;
}
#name,#email,#password,#address{
    height: 40px;
    width: 700px;
    border:0px
}
.regis_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    margin-top: 10%;
    
}
.regis{
    background: #18A0FB;
    border-radius: 6px;
    color: white;
    width: 188.1px;
    height: 54.67px;
    border:0px
}
.footer{
    bottom: 0;
    margin-top: auto;
}
.footer_sosmed{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background-color: #E9E9E930;
    height: 53px;
    align-items: center;
    justify-content: center;
}
.logo_sosmed{
    font-size: 22px;
    margin-right: 0.5%;
    padding: 0.5%;
    color: black;
    
}
.cr{
    color: #53CBFF;
    font-size: 15px;
}
.copyright{
    background-color:#E9E9E995 ;
    display: flex;
    text-decoration: none;
    height: 45px;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:1000px){
    p.cr{
        font-size: 10px;
    }
    a.register_word{
        font-size: 10px;
    }
    a{
        font-size: 10px;
    
    }
    nav img{
        width: 20px;
        height: 50px
    }
    .navigation{
        padding-left: 8%;
    }
    .isi_navbawah{
        width: 50px;
    }
    .register_space{
        width: 60px;
        margin-right: 15px;
    }
    .space_regis{
        width: 700px;
        height: 630px;
    }
    #name,#email,#password,#address{
        height: 30px;
        width: 600px;
    }
    .choose{
        width: 10px;
        height: 10px;
    }
    label{
        font-size: 13px;
    }
    .regis_button{
        margin-top: 6%;
    }
    .regis{
        width: 130px;
        height: 40px;
        font-size: 9px;
    }
    .form_bawah{
        padding-top: 34px;
    }
    .regis_word{
        font-size: 20px;
    }
}
@media only screen and (max-width:810px){
    a{
        font-size: 9px;
    }
    .space_regis{
        width: 500px;
        height: 540px;
    }
    #name,#email,#password,#address{
        height: 20px;
        width: 400px;
    }
    .choose{
        width: 8px;
        height: 8px;
    }
    label{
        font-size: 10px;
    }
    .register{
        padding-top: 3%;
    }
    .regis{
        width: 100px;
        height: 33px;
        font-size: 8px;
    }
    .form_bawah{
        padding-top: 30px;
    }
    .regis_word{
        font-size: 17px;
    }
}
@media only screen and (max-width:523px){
    a{
        font-size: 8px;
    }
    .space_regis{
        width: 400px;
        height: 530px;
    }
    #name,#email,#password,#address{
        height: 16px;
        width: 300px;
    }
    .choose{
        width: 7px;
        height: 7px;
    }
    label{
        font-size: 8px;
    }
    .regis{
        width: 90px;
        height: 27px;
        font-size: 7px;
    }
    .form_bawah{
        padding-top: 23px;
    }
    .regis_word{
        font-size: 14px;
    }
}
@media only screen and (max-width:454px){
    .space_regis{
        width: 300px;
        height: 500px;
    }
    #name,#email,#password,#address{
        height: 13px;
        width: 200px;
    }
    
    .regis{
        width: 90px;
        height: 27px;
        
    }
    .regis_button{
        padding-right: 50px;
    }
    .form_bawah{
        padding-top: 23px;
    }

}

